<svg
   xmlns:dc="http://purl.org/dc/elements/1.1/"
   xmlns:cc="http://creativecommons.org/ns#"
   xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
   xmlns:svg="http://www.w3.org/2000/svg"
   xmlns="http://www.w3.org/2000/svg"
   enable-background="new"
   id="svg4550"
   version="1.1"
   viewBox="0 0 180 320"
   height="320"
   width="180">
  <g
     style="display:inline"
     id="layer4">
    <path
       id="parts_8_2"
       class="animation_part"
       d="m 94,286 v 14 a 22.5,19.999998 0 0 0 11.25,17.32031 22.5,19.999998 0 0 0 22.5,0 A 22.5,19.999998 0 0 0 139,300 v -14 z"/>
    <path
       id="parts_8_1"
       class="animation_part"
       d="m 41,286 v 14 a 22.5,19.999998 0 0 0 11.25,17.32031 22.5,19.999998 0 0 0 22.5,0 A 22.5,19.999998 0 0 0 86,300 v -14 z"/>
    <path
       id="parts_7_2"
       class="animation_part"
       d="m 94,250 v 34 h 45 v -34 z"/>
    <path
       id="parts_7_1"
       class="animation_part"
       d="m 41,250 v 34 h 45 v -34 z"/>
    <path
       id="parts_6_4"
       class="animation_part"
       d="m 146,218 v 16 a 17,17 0 0 0 8.5,14.72266 17,17 0 0 0 17,0 A 17,17 0 0 0 180,234 v -16 z"/>
    <path
       id="parts_6_3"
       class="animation_part"
       d="m 91,218 v 30 h 3 45 v -1 -29 z"/>
    <path
       id="parts_6_2"
       class="animation_part"
       d="m 41,218 v 29 1 h 45 3 v -30 z"/>
    <path
       id="parts_5_4"
       class="animation_part"
       d="m 146,182 v 34 h 34 v -34 z"/>
    <path
       id="parts_6_1"
       class="animation_part"
       d="m 0,218 v 16 a 17,17 0 0 0 8.5,14.72266 17,17 0 0 0 17,0 A 17,17 0 0 0 34,234 v -16 z"/>
    <path
       id="parts_5_3"
       class="animation_part"
       d="m 91,182 v 34 h 48 v -34 z"/>
    <path
       id="parts_5_2"
       class="animation_part"
       d="m 41,182 v 34 h 48 v -34 z"/>
    <path
       id="parts_5_1"
       class="animation_part"
       d="m 0,182 v 34 h 34 v -34 z"/>
    <path
       id="parts_4_4"
       class="animation_part"
       d="m 140.98828,140 v 40 h 38.9707 a 33.209301,41 0 0 0 -33.16796,-40 z"/>
    <path
       id="parts_4_3"
       class="animation_part"
       d="m 91,140 v 40 h 48.01172 V 140 H 138 Z"/>
    <path
       id="parts_4_2"
       class="animation_part"
       d="m 42.976562,140 v 40 H 89 v -40 z"/>
    <path
       id="parts_4_1"
       class="animation_part"
       d="M 33.208984,140 A 33.209301,41 0 0 0 0.02929688,180 H 41.023438 v -40 z"/>
    <path
       id="parts_3_4"
       class="animation_part"
       d="m 142,97 v 19.73828 A 70,70 0 0 0 154.51172,97 Z"/>
    <path
       id="parts_3_3"
       class="animation_part"
       d="m 91,97 v 41 h 15.27539 A 70,70 0 0 0 140,118.96875 V 97 Z"/>
    <path
       id="parts_3_2"
       class="animation_part"
       d="m 46,97 v 27.4043 A 70,70 0 0 0 73.728516,138 H 89 V 97 Z"/>
    <path
       id="parts_3_1"
       class="animation_part"
       d="M 25.429688,97 A 70,70 0 0 0 44,122.64844 V 97 Z"/>
    <path
       id="parts_2_4"
       class="animation_part"
       d="m 142,44 v 51 h 13.36328 A 70,70 0 0 0 160,70 70,70 0 0 0 154.93359,44 Z"/>
    <g
      class="animation_part"
       id="parts_2_3">
      <path
         d="m 91,44 v 51 h 49 V 44 Z"
         id="path2276" />
      <path
         transform="matrix(0.59829108,-0.80127884,-0.4132486,-0.91061825,0,0)"
         d="m 102.95351,-167.09131 a 29,29 0 0 1 -8.848499,20.85466 29,29 0 0 1 -21.145771,8.12829"
         id="parts_right_eye"/>
    </g>
    <g
      class="animation_part"
       id="parts_2_2">
      <path
         d="M 46,44 V 95 H 89 V 44 Z"
         id="path2278" />
      <path
         transform="matrix(-0.56745105,-0.82340713,0.38633173,-0.9223599,0,0)"
         d="m -87.831802,3.0117025 a 29,29 0 0 1 -8.848496,20.8546605 29,29 0 0 1 -21.145772,8.12829"
         id="parts_left_eye"/>
    </g>
    <path
      class="animation_part"
       id="parts_2_1"
       d="M 25.041016,44 A 70,70 0 0 0 20,70 70,70 0 0 0 24.701172,95 H 44 V 44 Z"/>
    <path
        class="animation_part"
       id="parts_1_4"
       d="M 142,23.251953 V 42 h 12.11719 A 70,70 0 0 0 142,23.251953 Z"/>
    <path
       id="parts_1_3"
       class="animation_part"
       d="M 91,0.03515625 V 42 h 49 V 21.105469 A 70,70 0 0 0 91,0.03515625 Z"/>
    <path
       id="parts_1_2"
       class="animation_part"
       d="M 89,0.05078125 A 70,70 0 0 0 46,15.628906 V 42 h 43 z"/>
    <path
       id="parts_1_1"
       class="animation_part"
       d="M 44,17.302734 A 70,70 0 0 0 25.9375,42 H 44 Z"/>
  </g>
</svg>